@import url('https://rsms.me/inter/inter.css');

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}

@supports (font-feature-settings: normal) {
    body {
        font-feature-settings: 'ss03'; /* Curved r */
    }
}

.master {
    flex: 1 0 auto;
}

.material-icons.inline {
    margin-top: -1px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.archive-list .list-group-item {
    position: relative;
    padding-left: 2rem;
    padding-right: 0;
}

.archive-list .list-group-item::before {
    content: 'arrow_forward';
    position: absolute;
    left: 0;
    font-family: 'Material Icons', sans-serif;
    font-size: 1.2rem;
}

.container-md {
    max-width: 888px;
    margin: auto;
    padding: 0 1rem;
}

.header {
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
}

.header .nav {
    margin-bottom: -1px;
}

.nav.nav-primary {
    color: #111;
}

.nav.nav-primary .nav-link {
    padding: 1rem 0;
    color: inherit;
    opacity: .6;
    border-bottom: 3px solid transparent;
}

.nav.nav-primary .nav-link:not(:last-of-type) {
    margin-right: 3rem;
}

.nav.nav-primary .nav-link:hover,
.nav.nav-primary .nav-link.active {
    opacity: 1;
    border-bottom-color: currentColor;
}

.nav.nav-primary .nav-link:first-child {
    opacity: 1;
    border-bottom-color: transparent;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.markdown-body > :first-child {
    margin-top: 0;
    margin-bottom: 2rem;
}

.markdown-body h2 {
    font-size: 1.5rem;
}

.markdown-body h3 {
    font-size: 1.25rem;
}

.markdown-body h4 {
    font-size: 1rem;
}

.markdown-body h5 {
    font-size: .875rem;
}

.markdown-body h6 {
    color: #6a737d;
    font-size: .85rem;
}

.footer {
    flex-shrink: 0;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: .8rem;
}
